<div class="container-fluid">

    <div class="container border border-primary border-2">
      Default Container
    </div>

   @* <div class="container-sm border border-secondary border-2">
      Container sm
    </div>

    <div class="container-md border border-success border-2">
      Container md
    </div>

    <div class="container-lg border border-danger border-2">
      Container lg
    </div>

    <div class="container-fluid border border-warning border-2" >
      Container fluid
    </div>*@
</div>
