<div class="row ">
    <div class="col-lg-2 col-md-4 pe-0 bg-nav d-md-block d-sm-none d-none" style="height:100vh!important">        
        <div class="bg-nav">
            <div>
                <a class="left-nav-item px-5 py-3 d-block">Booking Baru</a>      
            </div>
            <div>
                <a class="left-nav-item px-5 py-3 d-block">Jadwal Baru</a>      
            </div>
            <div>
                <a  class="left-nav-item px-5 py-3 d-block">Maskapai</a>      
            </div>            
        </div>        
    </div>

    <div class="col-lg-10 col-md-8 pt-4">        
        <form>
            <div class="row">

                <div class="col-lg-4 col-md-6 col-sm-12 border border-1">
                
                    <div class="form-group">
                        <label class="control-label">Kolom 1</label>
                        <input class="form-control" readonly />                
                    </div>
                </div>

                <div class="col-lg-8 col-md-6 col-sm-12 border border-1">
                    <div class="form-group">
                        <label class="control-label">Kolom 2</label>
                        <input class="form-control" readonly />                
                    </div>
                </div>

            </div>
        </form>
        

    </div>
</div>