<ul class="list-group">
  <li class="list-group-item">
      <a asp-action="Container">Contoh Container</a>      
  </li>
  <li class="list-group-item">
      <a asp-action="Grid">Contoh Grid Row Column</a>      
  </li>
  <li class="list-group-item">      
      <a asp-action="Table">Contoh Table</a>      
  </li>
</ul>