
<div class="p-2">
   

    <div class="d-lg-block d-md-none d-sm-none d-none">
        <h1 class="text-uppercase text-primary">
            List Booking
        </h1>
        <div>
            <table class="table table-responsive table-striped">
                <thead>
                    <tr class="text-primary">
                        <th scope="col">Kode Booking</th>
                        <th>Maskapai</th>
                        <th>Kode Penerbangan</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="row">B9911</td>
                        <td>Lion Air</td>
                        <td>JT898</td>
                    </tr>
                    <tr>
                        <td>B9911</td>
                        <td>Lion Air</td>
                        <td>JT898</td>
                    </tr>
                    <tr>
                        <td>B9911</td>
                        <td>Lion Air</td>
                        <td>JT898</td>
                    </tr>
                    <tr>
                        <td>B9911</td>
                        <td>Lion Air</td>
                        <td>JT898</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="d-lg-none d-md-block d-sm-block d-block p-4 pt-0">
        <h1 class="text-uppercase text-primary">
            List Booking
        </h1>

        <div class="card mb-4 rounded">
            <div class="card-body">
                <h5 class="card-title">B9911</h5>
                <h6 class="card-subtitle mb-2 text-muted">Lion Air</h6>
                <h6 class="card-subtitle mb-2 text-muted">JT898</h6>
            </div>
        </div>
        <div class="card mb-4 rounded">
            <div class="card-body">
                <h5 class="card-title">B9911</h5>
                <h6 class="card-subtitle mb-2 text-muted">Lion Air</h6>
                <h6 class="card-subtitle mb-2 text-muted">JT898</h6>
            </div>
        </div>

        <div class="card mb-4 rounded">
            <div class="card-body">
                <h5 class="card-title">B9911</h5>
                <h6 class="card-subtitle mb-2 text-muted">Lion Air</h6>
                <h6 class="card-subtitle mb-2 text-muted">JT898</h6>
            </div>
        </div>

        <div class="card mb-4 rounded">
            <div class="card-body">
                <h5 class="card-title">B9911</h5>
                <h6 class="card-subtitle mb-2 text-muted">Lion Air</h6>
                <h6 class="card-subtitle mb-2 text-muted">JT898</h6>
            </div>
        </div>

        <div class="card mb-4 rounded">
            <div class="card-body">
                <h5 class="card-title">B9911</h5>
                <h6 class="card-subtitle mb-2 text-muted">Lion Air</h6>
                <h6 class="card-subtitle mb-2 text-muted">JT898</h6>
            </div>
        </div>
    </div>

</div>
