<div class="modal fade" id="lkpAirportDialog" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">List Bandara</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <table class="table table-responsive table-striped">
                    <thead>
                     <tr>
                        <th scope="col">
                        </th>
                        <th scope="col">Kode Airport</th>
                        <th scope="col">Nama Bandara</th>
                        <th scope="col">Kota</th>
                        <th scope="col">Propinsi</th>
                     </tr>
                    </thead>
                    <tbody id="bodyAirportLookup">
                    </tbody>
                </table>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>