<div class="row">
    <div class="col-lg-2 col-md-4 pe-0 bg-nav d-md-block d-sm-none d-none" style="height:100vh!important">
        @*<div class="bg-nav">
            <div>
                <a asp-action="Booking" class="left-nav-item px-5 py-3 d-block">Booking Baru</a>
            </div>
            <div>
                <a asp-action="Schedule" class="left-nav-item px-5 py-3 d-block">Jadwal Baru</a>
            </div>
            <div>
                <a asp-action="Maskapai" class="left-nav-item px-5 py-3 d-block">Maskapai</a>
            </div>
        </div>*@
    </div>

    <div class="col-lg-10 col-md-8 pt-4">
        @RenderBody()
    </div>
</div>